body{
    display:grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    background-color:rgb(226, 226, 226);
    font-family: 'Courier New', Courier, monospace;

}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
    color: antiquewhite;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    width:100vw;
    height: 100px;
    gap:20px;
}

nav a{
    text-decoration: none;
    color:white;
    background-color: #589;
    border-radius: 5px;
    padding: 20px;    
}

nav a:hover{
    background-color: #584;
    border-radius: 5px;
    text-decoration: underline;
}

header h1{
    text-align: center;
    font-size: 45px;
    margin: 5px;   
}

main{
    padding: 50px 200px;
}

main ul li{
    color: transparent;
    margin-left: 20px;
}

main ul li a{
    text-decoration: none;
    color: brown;
    border-radius: 5px;
    padding: 5px;
}

main ul li a:hover {
    text-decoration: underline;
    color: #584;
    text-transform: uppercase;
}

footer{
    width: 100%;
    height: 100px;display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}

.contenedor{
    display: flex;
    font-size: 18px;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    color: aliceblue;
    width: 400px;
    height: 400px;
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%, 0 25%);
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

.contenedor .ciudad{
    color: #584;
    font-size: 30px;
}

.contenedor p span{
    color: #6eaec3;
    font-weight: bolder;
}