{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}
    <h2>Lista de ciudades para consultar</h2>

    <ul>
        <li><a href="#">Buenos Aires</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Madrid</a></li>
        <li><a href="#">Nueva York</a></li>
        <li><a href="#">Tokio</a></li>
        <li><a href="#">Paris</a></li>
        <li><a href="#">Londres</a></li>
        <li><a href="#">Sídney</a></li>
        <li><a href="#">Ciudad de México</a></li>
        <li><a href="#">El Cairo</a></li>
    </ul>
{% endblock %}
